#title-coffee {color: grey}
#title-pizza {color:grey}
#coffee-pizza {list-style-type: lower-alpha;}
#coffee-types {list-style-type: lower-roman;}

.ordered-listitem1 {color:red}
.ordered-listitem2 {color:blue}